body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.loader {
    width: 80px;
    height: 80px;

    border: 10px solid #ddd;
    border-top: 10px solid black;

    border-radius: 50%;

    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes spin {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}